@using DMART.Models;
@model Product;

@{
    ViewData["Title"] = "Update Product";
}

<style>
    .labels{
    font-size: 25px;
    color: #202066;
    font-weight: 600;
    }
</style>

@{
    ViewData["showCategories"] = false;
}
 <!--Section to  use in layout for Admin views only-->
  @section categoryNavbar{
        <partial name="_AdminNavbar" view-data="ViewData"/>
   }  


<div class="container" style="margin-top:100px">
    <div class="display-4 fs-2 text-center fw-bold mb-2 mt-4">Update Product</div>
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> Product updated successfully.</strong> <br/>
            <!--
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            -->
         </div>
    }

<form id="addForm" method="post" enctype="multipart/form-data" class="card p-5" style="background-color: #ebe6e61a;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group mt-3">
        <label asp-for="Id" class="control-label labels"></label>
        <input id="prodId" value="@Model.Id" asp-for="Id" class="form-control" readonly />
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="CategoryId" class="control-label labels"></label>
        <input id="prodId" value="@Model.CategoryId" asp-for="CategoryId" class="form-control" readonly />
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="Name" class="control-label labels"></label>
        <input id="name" value="@Model.Name" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Price" class="control-label labels"></label>
        <input id="price" value="@Model.Price" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="Quantity" class="control-label labels"></label>
        <input id="quantity" value="@Model.Quantity" asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Description" class="control-label labels"></label>
        <textarea id="description" value="@Model.Description" asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="Discount" class="control-label labels"></label>
        <input id="discount" value="@Model.Discount" asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="DiscountPercentage" class="control-label labels"></label>
        <input id="discountPercentage" value="@Model.DiscountPercentage" asp-for="DiscountPercentage" class="form-control" />
        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-5">
        <input id="addProd" type="submit" value="Update product" class="btn btn-primary w-25 btnColor" style="background-color: #8686db;" />
    </div>
</form>
</div>