@model IEnumerable<Category>

  @if(@ViewData["show"].ToString() == "image") //execute if images has to be shown on home page
  {
  <div class="d-flex flex-wrap justify-content-evenly">
      
   @foreach (Category category in Model)
    { 
    <div>
        <form asp-action="ProductCategory" asp-controller="Product" method="post">
        <input value="@category.Id" name="categoryId" style="display: none;" /> 
        <input type="image"  src="@category.ImageUrl" alt="category"/>
       </form>
    </div>
   }
  </div>
    }
    else if(@ViewData["show"].ToString() == "name") //execute if name has to be shown on product category page
   {
  <div class="list-group list-group-flush mx-2 mt-3">

     @foreach (Category category in Model)
     {
           <button onclick="showCategoryItems(@category.Id)" href="#" class="list-group-item list-group-item-action py-2 ripple category" aria-current="true">
              <span>@category.Name</span>
            </button>
     }
  </div>
   }